@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #e5e5e5;
}

/* css for navbar  */
.igname{
        display: inline-flex;
        max-height: 150px;
        max-width: 150px;
        object-fit: contain;
        position: relative;
        left: 20px;
        top: 20px;
}
.navbg {
    -ms-flex-order: 0;
    order: 0;
    background-color: #fafafa;
    background-color: rgba(var(--b3f,250,250,250),1);
    padding: 0;
    position: sticky;
    max-height: 95px;
    border: 1px solid #dbdbdb;
}
.ipborder {
    border: solid 1px #dbdbdb;
    border: solid 1px rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    outline: 0;
    padding: 3px 10px 3px 26px;
    z-index: 2;
}
.ipfiller{
    display: inline;
    font-size: 14px;
    background: #fafafa;
    background: rgba(var(--b3f,250,250,250),1);
    position: relative;
    left: 40%;
    bottom: 50px
}
input {
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: rgb(255, 255, 255);
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
}
.smalldp{
    vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  left: 96%;
}
.home{
    position: relative;
    left: 80%;
}
.message{
    position: relative;
    left:84%;
}
.find{
    position: relative;
    left:88%;
}
.feed{
    position: relative;
    left:92%;
}
.basicicons{
    width: 15%;
    display: flex;
    justify-content: space-around;
    color: #696e79;
    position: relative;
    right:-70%;
    bottom: 70px;
}

/* css for avatar bar  */
.avatar1{
    vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #d3149a;}

  .avatar2{
    vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #d3149a;}

  .avatar3{
    vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #d3149a;}

  .avatar4{
    vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #d3149a;}

  .avatar5{
    vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #d3149a;}

  .avatar6{
    vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #d3149a;}

  .avatar7{
    vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #d3149a;}

.borderbox{
    border: 1px solid #c8c8c8;
    margin: 2rem;
    padding: 1rem;
    background-color: #fafafa;
    max-width: 52%;
    border-radius: 0.3rem;
    position: relative;
    left: 15%;
    align-items: stretch;
    }

  .grpofavatar{
    display: flex;
    justify-content: space-around;
    color: #696e79;
    position: relative;
    /* left: 1%; */
  }
  .grpofavatar:hover{
      cursor: pointer;
  }